/* Updated Cart Sidebar Styling */
.cart-sidebar, .menu-sidebar {
    position: fixed;
    right: -100%;
    bottom: 0;
    width: 30vw;
    height: calc(100vh - 75px);
    background: #fff;
    box-shadow: -4px 0 8px rgba(0, 0, 0, 0.2);
    transition: 0.3s ease;
    z-index: 2000;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left: 1px solid black;
 
}
.menu-btn{
    display: none;
}

@media screen and (max-width: 480px) {
    .cart-sidebar, .menu-sidebar {
         width: 100vw;
    }
  }

.cart-sidebar.open, .menu-sidebar.open {
    right: 0;
}

.cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.cart-header span {
    text-align: center;
    flex-grow: 1;
    font-size: 1rem;
}

.close-btn {
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    color: #919191;
    transform: rotate(180deg);
}

/* Placeholder Block */
.cart-placeholder {
    background: #D9D9D9;
    width: 100%;
    height: 50px;
    min-height: 50px;
    margin: 5px 0;
    opacity: 1; /* Adjust opacity if needed */
}

.cart-placeholder div{
    height: 100%;
    padding: 0 20px;       
}

.cart-placeholder div p{
    font-weight:400;
    font-size: 12px;
}

/* Cart Items */
.cart-items {
    flex-grow: 1;
    overflow-y: auto;
}

.cart-item {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 5px 0;
}

.cart-item img {
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.product-details {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: auto;
}

.product-details h4 {
    margin: 0;
    font-size: 1rem;
    font-weight: bold;
    color: #000;
}

.product-details p {
    margin: 2px 0;
    font-size: 0.6rem;
    color: #000;
}

.pricing p {
    margin: 2px 0;
    font-size: 0.6rem;
    color: #777A80;
}

.pricing p b {
    color: #000;
    font-size: 0.7rem
}

/* Summary Section */
.cart-summary {
    margin-top: 20px;
}

.cart-summary .subtotal,
.cart-summary .tax {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
}
.cart-summary .tax small{
    margin: 5px 0;
    color: #777A80;
    font-weight: 400;
    font-size: 12px;
}

hr {
    border: 0;
    height: 1px;
    background: #ccc;
    margin: 5px 0;
}

/* Checkout Button */
.checkout-btn {
    background: #000;
    color: #fff;
    width: 100%;
    padding: 15px 0;
    border: none;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
}

.checkout-btn:hover {
    background: #333;
}
